 @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;600&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;600&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;600&display=swap');

* {
    margin: 0;
    text-align: center;
    background-color: darkmagenta;

}

#container {
    width: 200px;
}

.m-40 {
    margin: 40px;
}

p {
    color:rgb(16, 113, 210);
    font-size: 30px;
    font-weight: bold;
    text-align: left, end;
    font-family: 'Raleway', sans-serif;

}
.title {
    font-family: 'Raleway', sans-serif;
    color: darkred;
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    background: darkorchid;
}
h1 { 
    color: darkmagenta;
    font-size: 60px;
    background: darkorchid;
    text-align: center;
    border: 1px solid gray;
    margin: 200px;
    padding: 60px;
    font-family: 'Raleway', sans-serif;
}
strong {
    font-style: oblique;
    font-display: rgb(74, 74, 230);
    font-size: 30px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

button {
    color:blue;
    font-size: 20px; 
    text-align: center;
    font-family: 'Raleway', sans-serif;
    align-items: center;
    accent-color: darkred;
}

