@import "https://fonts.googleapis.com/css2?family=Pangolin&display=swap";
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root {
    --color-green:#178533;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background: #4e6ca3b6;
    color: rgb(236, 243, 238);
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
}
header {
    padding: 32px;
    border-bottom: 1px solid #333;
    background: rgba(0, 0, 0, 0.1);
    font-family: 'Oswald', sans-serif;
}
header div {
    text-align: center;
}
.links a {
    color: rgba(108, 110, 82, 0.959);
    font-size: 18px;
    line-height: 28px;
    margin: 0 16px;
    text-decoration: none;
}
.links a:hover {
    color: var(--color-green);
    transition: color 700ms;
}

#wrapper {
    text-align: center;
    padding: 32px;
}

#wrapper img {
    border-radius: 100%;
    border: solid var(--color-green);;
    margin: 32px;
    height: 250px;
}

#wrapper div id {
    border-radius: 100%;
    border: solid var(--color-green);
    margin: 32px;
}

#wrapper h1 {
    font-size: 42px;
    line-height: 52px;
    font-weight: bold;
}

#wrapper h1 {
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    margin-top: 8px;
    opacity: 0.8;
}

#wrapper p {
    max-width: 800px;
    margin: 7px auto;
    font-size: 24px;
    line-height: 34px;
}

#wrapper p a {
    color: var(--color-green);
}